/* CSS reset */
html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
}

/* Generic constraints */
body {
    min-width: 400px;
    background-color: black;
    color: whitesmoke;
}

/* Header styling */
h1 {
    margin-left: 1rem;
}

.main-header {
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-form {
    display: flex;
}

.search-input {
    height: 2rem;
    padding: 0.5rem;
    border: 3px solid darkorange;
    border-right: none;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}


.search-submit {
    background-color: goldenrod;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border: 3px solid darkorange;
    border-left: none;
    height: 2rem;
    font-size: 1rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}


.header-menu {
    display: flex;
    list-style: none;
    margin: 0;
}

.header-menu > .header-menu-item {
    margin: 0 0.5rem;
}

.header-menu-link {
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 1.1rem;
}

.header-menu-link:hover {
    color: deepskyblue;
}

/*Carousel */



/* Movie list */
.movie-list-title {
    margin-left: 1rem;
    margin-top: 1rem;
}

.movie-list-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.movie-list {
    padding: 0;
    list-style: none;
    display: flex;
    overflow: hidden;
}

.movie-list .movie-tn-small {
    height: 200px;
}

.movie-item {
    margin: 0.5rem;
}

.move-button {
    position: absolute;
    border-radius: 50%;
    border: none;
    padding: 1rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
}

.move-button:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.move-button.left {
    left: 1rem;
}

.move-button.right {
    right: 1rem;
}

.arrow-icon {
    width: 1.8rem;
    height: 1.8rem;
    box-sizing: content-box;
}


/* Footer styles */
.back-to-top-button {
    width: 100%;
    border: none;
    height: 4rem;
}

.footer-menu {
    list-style: none;
    display: flex;
    justify-content: center;
}

.footer-menu-item {
    margin: 1rem 2rem;
}


/* Media queries */

.display-medium-and-below {
    display: none;
}

@media screen and (max-width: 992px) {
    .display-medium-and-below {
        display: inline-block;
    }

    .search-form {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .main-header {
        flex-direction: column;
    }
}

@media screen and (max-width: 576px) {
    .header-menu {
        display: none;
    }
}

